.fail {
    transform: translate(0px, -475px) rotate(20deg);
}

.square1 {
    transform: scale(.2, .3);
}

.square2 {
    transform: scaleX(.2);
}

.square3 {
    transform: scaleY(.2);
}

.square4 {
    transform: skewX(20deg);
}

.square5 {
    transform: skewY(20deg);
}

.square6 {
    transform: skew(20deg, 10deg);
}

.square7 {
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}

div {
    width: 300px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid blue;
    color: black;
  }

  #myDiv {
    transform: rotateX(0deg);
    transition: transform 3s, background-color 2s, color 4s;
  }

  #myDiv:hover {
    transform: rotateX(180deg);
    background-color: teal;
    color: white;
  }

  #myDiv2 {
    transform: rotateY(0deg);
    transition: transform 5s;
    transition-timing-function: ease-in;
  }

  #myDiv2:hover {
    transform: translate(500px,0);
  }

  #myDiv3 {
    transform: rotateZ(0deg);
    transition-duration: 2s;
    transition-delay: 3s;
  }

  #myDiv3:hover {
    transform: rotateZ(180deg);
  }